*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--default-text);
}

h1,
p {
  margin: 0 0 1em 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
  margin: 10px;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  padding: 4rem 0 6rem; /* Footer height */
}

/* no grid support? */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  /* creates grid sizing */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(350px, auto);
}

.trail-tile {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  box-shadow: 0 0 10px 1px #546E7A;
}

.page-header,
.footer {
  text-align: center;
  flex: 0 1 100%;
  min-height: 4rem;
  background-color: var(--primary-color);
}

.wrapper > * {
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: var(--tile-border-radius);
  padding: 20px;
  margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  color: var(--dark-primary-color);
  border-radius: var(--btm-border-radius);
}

/* MODAL STYLES */
.ui.modal {
  background-color: transparent;
}

.ui.cancel {
  background-color: transparent;
  text-align: right;
  float: right;
  padding: 30px 20px 10px 10px;
}

.ui.small.modal > .header {
  border-radius: 18px 18px 0 0;
  color: #546E7A;
  padding: 1px 5px 20px 25px;
}

.ui.modal > .content {
  background-color: var(--p-variant-color);
  border-radius: 0 0 18px 18px;
}

.modal-img {
  width: 50%;
  border-radius: var(--tile-border-radius);
}

.modal-body {
  margin: 2rem;
}

:root {
  --primary-color: #009688;
  --dark-primary-color: #004D40;
  --light-primary-color: #B2DFDB;
  --p-variant-color: #00796B;
  --secondary-color: #006064;
  --background: #B0BEC5;
  --default-text: #444;

  --top-border-radius: 10px 10px 0 0;
  --btm-border-radius: 0 0 10px 10px;
  --tile-border-radius: 10px;
}

h1 {
  font-family: "quicksand";
  font-weight: 600;
  font-size: xx-large;
  color: var(--dark-primary-color);
}

h2 {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 25px;
}

h3 {
  font-family: "roboto";
  font-weight: 400 ;
}

h4 {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: large;
  line-height: 40px;
}

p {
  font-family: "roboto";
  font-weight: 400;
  font-size: 15px;
  color: var(--light-primary-color);
}

/* header styles */
.page-header {
  padding: 4rem;
  border-radius: var(--top-border-radius);
}
.title-2 {
  color: var(--light-primary-color);
}

/* Search styles */
#current-location {
  display: inline-block;
  cursor: pointer;
}


/* Start tile styles */
.trail-tile > * {
  margin: 0 auto;
}

/* creates cover container for tile image */
.img-box {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-top: -20px;
  height: 80%;
}
.trail-tile img {
  width: 100%;
  object-fit: cover;
  height: 90%;
  border-radius: var(--top-border-radius);
}

/* risk */
.risk-rating .icon {
  font-size: x-small;
}

/* popularity */
.popularity .icon {
  font-size: small;
}

.checked {
  color: white;
}

/* maintains margin on the sides of the tiles at smaller screen sizes */
@media only screen and (max-width: 980px) {
  .wrapper {
    margin: 0 20px;
  }
}
/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}
